*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-content:space-around;
    color: aqua;
    padding: 0;
    margin:0;
    text-align:center;   
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 ;
    padding:  1% 10%; 
}

.header img{
    width:20%;
    padding-left: 0%;
    justify-self: flex-start;
}

ul{
    list-style: none;
    display: flex;
    margin:0;
    padding: 0;
    gap:10%;
}

.links{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
    padding: 10px;
    color: #e5e7eb;
    font-size: 1.5vw;
    margin-right:5%;
    gap:10%;
    
}

.hero{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    color: #e5e7eb;
    padding:  5% 10%;

}

.hero img{
    height:18vw;
    width:30vw;
    background-color:#e5e7eb;
    border-radius:1vw;
    align-self: center;
}

.hero-text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5%;
    margin: 0;
    text-align: left;
    font-size: 1.5vw;
    justify-content: space-between;
     
}

.hero-text h2{
    font-size: 2;
    margin: 0px ;
}

.hero-text button{
    background-color: #3882f6;
    border-radius:0.5vw;
    border:1px transparent;
    color: white;
    padding:2% 5%;
    margin: 0px;
    height:fit-content;
    font-size: 1.5vw;
}

.why{
    display:flex;
    flex-direction: column;
    padding: 2% 0;
    
    align-items: center;
    color:#1F2937;
}

.why h2{
    font-size: 3vw;
    padding: 0px;
    
}

.why-container{
    display: flex;
    padding: 2% 0;
    margin: 1% 10%;
    justify-content: center;
    gap:2%;
}

.how{
    display:flex;
    flex-direction: column;
    padding: 2% 0;
    background-color: #e4daa1;
    color:#1F2937;
}

.how h2{
    font-size: 3vw;
    padding: 0px;
}

.how-container{
    display: flex;
    margin: 1% 10%;
    padding: 2%;
    justify-content: center;
    gap:2%;
}

.block{
    display: flex;
    flex-direction: column;

}

.block img{
    display: flex;
    justify-content: space-evenly;
    border-radius:1vw;
    background-color:#e5e7eb;
    margin-bottom: 10%;
    object-fit: cover;
    object-position: 50% 10%;
    aspect-ratio: 1;
    width:100%;
    max-width:20vw;     
}

.block p{
    text-align: center;
    max-width: 20vw;
    font-size: 1.5vw;
}

.quote-block{
    display: flex;
    font-family: serif;
    background-color: #e5e7eb;
    flex-direction: column;
    font-weight: 300;
    padding: 0 10%;
    justify-items: flex-end;
}

.quote{ 
    font-size: 3vw;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    padding-top:10%;
    margin-bottom: 4%;
    text-align: center;
    flex:0;   
}

.quoter{
    flex:0;
    font-size: 2vw;
    padding-top: 0%;
    padding-bottom:10%;
    text-align:right;
    font-weight: bold;
    color: #1F2937;
    margin:0 5%; 
}

.call{
    background-color: #3882f6;
    border-radius:1vw;
    border:1px transparent;
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    color:#e5e7eb;
    max-height:5%;
}

.message-block{
    display: flex;
    flex-direction: column;
    max-height: 5%;
}

.message-bold{
    font-weight: bold;
    font-size: 1.4vw;
    text-align: left;
}

.message{
    font-size: 1.2vw;
    text-align: left;
}

.message-block p{
    margin: 0px;
    padding: 0.5vw 0;   
}

.footer{
    margin:0 10%;
    flex:0;
    padding: 2% 0;   
}

.footer button{
    background-color: #3882f6;
    border-radius:0.5vw;
    border:0.1vw solid white;
    color: white;
    padding:1vw 2vw;
    margin: 0px;
    justify-self: flex-end;
    height:fit-content;
    align-self:center ;
    font-size: 1vw;   
}

.disclaimer{
    bottom:0;
    background-color: #e5e7eb;  
}

.disclaimer p{
    font-size: 1vw;
    margin: 0%;
    color:#1F2937;
    text-align: right;
}